<section class="resumeItem">
  <header>
    <h3><%= typeof title !== 'undefined' ? title : 'Company Name' %></h3>
    <% if (typeof logo !== 'undefined') { %>
      <img class="resumeItem__logo" src="<%= logo %>">
    <% } %>
  </header>

</section>
